body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilização do formulário */
.form-card {
 display: inline-flex;
 flex-direction: column;
}

 /* Estilização do card */

.card-char {
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(130, 90, 224, 0.2);
  border-style: ridge;
  margin-left: 20%;
} 

#nameCard {
  margin: 50px;
}

#cardImg {
  margin-left: 20%;
}

#description-card {
  margin-left: 10%;
}


